{% extends 'base.html.twig' %}
{% form_theme zoneForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Delete a zone :</h1>
    <div class="row">
        <div class="col-8 offset-2">

            <button onclick="window.location={{ path('deleteZone', {'id':zone.id}) }}">Supprimer</button>
            {#pb avec le = ? #}
        </div>
    </div>
{% endblock %}