{% extends 'base.html.twig' %}
{% form_theme employeeForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Employee gestion{% endblock %}

{% block body %}
    <h2>Add a new employee</h2>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form(employeeForm) }}
        </div>
    </div>

{% endblock %}
