{% extends 'base.html.twig' %}

{% block title %}Hello FamilyController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h2>List of species</h2>

    <table class="table container">
        <thead>
        <th scope="col">
            Name
        </th>
        </thead>
        {% for fList in familyList %}
            <tbody>
            <td> {{ fList.name }}</td>
            <td><a href="{{ path('familyDelete',{"id":fList.id}) }}">Remove</a></td>
            </tbody>

        {% endfor %}

    </table>
</div>
{% endblock %}
