{% extends 'base.html.twig' %}

{% block title %}The Elven Zoo{% endblock %}

{% block body %}
    <h2>Zoo employees</h2>

    <table class="table container">
        <thead>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Un champs vide
            </th>
        </thead>
        {% for employee in employees %}
            <tbody>
                <td> {{ employee.name }}</td>
                <td> (vide) </td>
                <td><a href="{{ path('employeeDelete', {'id':employee.id}) }}">Remove</a></td>
            </tbody>

        {% endfor %}

    </table>
{% endblock %}
