{% extends 'base.html.twig' %}
{% block title %}Welcome in the zones list{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h2>Welcome in the zones list</h2>


        <table class="table container">
            <thead>
            <th scope="col">
                Name
            </th>
            </thead>
            {% for zone in zones %}
                <tbody>
                <td>{{ zone.name }} </td>
                <td><a href="{{ path('zoneDelete',{"id":zone.id}) }}">Remove</a></td>
                </tbody>

            {% endfor %}

        </table>
    </div>
{% endblock %}
